<div class="booyah-box">
	<div class="col-xs-4">
		<%= image_tag 'user_male.png' %>
	</div>

	<div class="col-xs-8">
		<h1><%= @user.email %></h1>
		<h3>Member Since: <%= @user.created_at.strftime("%B %d, %Y") %></h3>
		<h4><%= @user.comments.count %> total comments</h4>
		<h4><%= @user.comments.where(:rating => '5_stars').count %> total 5 star reviews</h4>
	</div>
	<div class="clear"></div>
</div><br /><br />

<h1 class="text-center">My Comments</h1><br /><br />
	<% @user.comments.each do |comment| %>
	<h1 class="text-center"><%= link_to comment.place.name, place_path(comment.place) %></h1>
	<div class="col-xs-12 col-sm-6">
		<blockquote>
			<% if comment.humanized_rating.present? %>
				<b><%= comment.humanized_rating %></b> -
			<% end %>
			<%= comment.message %>
			<small><%= comment.user.email %></small>
		</blockquote>
	</div>
<% end %>

<div class="clear"></div>

<h2 class="text-center">My Places</h2><br /><br />
<% @user.places.each do |place| %>
	<div class="booyah-box col-xs-10 col-xs-offset-1">
		<h1><%= link_to place.name, place_path(place) %></h1>
		<i><%= place.address %></i><br /><br />
		<p><%= place.description %></p><br />
		
		<% if place.user.present? %>
			<small><%= place.user.email %></small>
		<% end %>
		<% if place.comments.present? %>
			<div class="col-xs-12">
				<blockquote>
					<% if place.comments.last.humanized_rating.present? %>
						<b><%= place.comments.last.humanized_rating %></b>
					<% end %>
					<%= place.comments.last.message %>
					<small><%= place.comments.last.user.email %></small>
				</blockquote>
			</div>
		<% end %>
	</div>
<% end %>