<div class="booyah-box col-xs-10 col-xs-offset-1">
	<h2>Log in</h2>
	<br />
	<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	  <div class="form-inputs">
	    <%= f.input :email, required: false, autofocus: true %>
	    <br />
	    <%= f.input :password, required: false %>
	  </div>
	  <br />
	  <div class="form-actions">
	    <%= f.button :submit, "Log in", :class => 'btn btn-primary' %>
	  </div>
	<% end %>
	<br />
	<%= render "devise/shared/links" %>
</div>