<div class="booyah-box col-xs-10 col-xs-offset-1">
	<h1>Edit you place</h1>
	<%= simple_form_for @place do |f| %>
		<%= f.input :message %>
		<%= f.input :address %>
		<%= f.input :description %>
		<br />
		<%= f.submit 'Update', :class => 'btn btn-primary' %>
	<% end %>
</div>