<div class="booyah-box col-xs-10 col-xs-offset-1">	
	<h1><%= @place.name %></h1>
	<i><%= @place.address %></i>
	<br /><br />
	<p><%= @place.description %></p>

	<% if @place.latitude.present? && @place.longitude.present? %>

	  <script>
			function initMap() {
			  var myLatLng = {lat: <%= @place.latitude %>, lng: <%= @place.longitude %>};

			  var map = new google.maps.Map(document.getElementById('map'), {
			    zoom: 15,
			    center: myLatLng
			  });

			  var marker = new google.maps.Marker({
			    position: myLatLng,
			    map: map,
			    title: 'Hello World!'
			  });
			}
	  </script>
	  <script async defer
	        src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap"></script>

	<div id="map"></div>

  <% end %><br />

	<div class="pull-right">
		<% if current_user && current_user == @place.user %>
			<button class="btn btn-primary" data-toggle="modal" data-target="#photo_modal">
		  	Add a photo
			</button>
			<%= link_to 'Edit', edit_place_path(@place), :class => 'btn btn-primary' %>
			<%= link_to 'Delete', place_path(@place), :method => :delete, :data => {:confirm => 'Are you sure you want to delete this?'}, :class => 'btn btn-danger' %>
		<% end %>
	</div>
</div>

<div class="clear"></div>

<!-- Photo Modal -->
<div class="modal fade" id="photo_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add a photo</h4>
      </div>
      
      <%= simple_form_for @photo, :url => place_photos_path(@place) do |f| %>
      	<div class="modal-body">
					<%= f.input :picture %>
					<%= f.input :caption %>
					<br />
				</div>
    
    		<div class="modal-footer">
      		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      		<%= f.submit "Add a Photo", :class => 'btn btn-primary' %>	
    		</div>
    	<% end %>
    </div>
  </div>
</div>

<!-- Comment Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add Comment</h4>
      </div>
      <%= simple_form_for @comment, :url => place_comments_path(@place) do |f| %>
      	<div class="modal-body">
					<%= f.input :message %>
					<%= f.input :rating, :As => :select, :collection => Comment::RATINGS %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Add a Comment", :class => 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>


<% @place.photos.each do |photo| %>
	<div class="booyah-box col-xs-10 col-xs-offset-1">
		<%= image_tag photo.picture, :class => 'img-responsive' %>
		<%= link_to place_photo_path(@place, photo), method: :delete do %>
			delete
		<% end %>
<% end %>
<br />
</div>

<div class="col-xs-10 col-xs-offset-1">
		<!-- Button trigger modal -->
	<button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
	  Add a comment
	</button>
</div>
	

	<% @place.comments.each do |comment| %>
	<div class="booyah-box col-xs-10 col-xs-offset-1">
		<blockquote>
			<% if comment.humanized_rating.present? %>
				<b><%= comment.humanized_rating %></b>
			<% end %>
			<%= comment.message %>
			<small><%= comment.user.email %></small>
		</blockquote>
		</div>
	<% end %>
</div>



